@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

.main {
    max-width: 1440px;
    padding-top: 3rem;
}


html {
    font-size: 16px;
}

.headings, .heading-second,
.call-to-action,
.header-navigations {
    font-family: 'Raleway', sans-serif;
}

.headings, .heading-second {
    font-weight: 700;
}

.call-to-action,
.header-navigations {
    font-weight: 400;
}

.body, .body-second {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.graphic {
    background-image: url("./images/bg-curve-desktop.svg");
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.productive-section-link {
    text-decoration: none;
    padding-bottom: 0.1rem;
    vertical-align:middle;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    width: fit-content;
}

.productive-section-link i {
    vertical-align: middle;
    font-size: 1rem;
}

.testimony-name, .testimony-position {
    font-size: 0.8rem;
}

.card {
    box-shadow: 0px 0px 7px -1px grey;
}

.body-second {
    width: 75%;
}

.productive-container {
    background-color: hsl(240, 75%, 98%);
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.productive-section {
    width: 90%;
}

.productive-section a {
    color: hsl(170, 45%, 43%);
}

.testimony {
    width: 75%;
}

.testimony-pic {
    width: 25%;
    height: 25%;
}

.early-access {
    padding: 5rem 5rem;
    background-color: hsl(238, 22%, 44%);
}

.early-access-body {
    width: 50%;
    padding-right: 4rem;
}

.early-access-input {
    padding-left: 4rem;
    width: 50%;
}

.early-access-btn {
    width: 40%;
}

.early-access-title {
    font-size: 1.5rem;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: hsl(243, 87%, 12%);
}

.footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 0;
}

.footer-logo {
    margin-bottom: 1rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}



.footer-nav li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-social i {
    margin-right: 1rem;
    font-size: 2rem;
}

.white-invalid {
    color: white;
}

@media (max-width:800px) {
    .main {
        max-width: 375px;
    }

    .image {
        width: 100%;
    }

    .navbar-brand {
        width: 25%;
    }

    .headings {
        font-size: 1.5rem;
    }

    .heading-second {
        font-size: 1.1rem;
    }

    .graphic {
        background-image: url("./images/bg-curve-mobile.svg");
        height: 50px;
        margin-top: 70px;
    }

    .body-second {
        width: 100%;
    }

    .productive-section {
        width: 95%;
    }

    .productive-section-link {
        margin-left: auto;
        margin-right: auto;
    }

    .testimony {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .testimony-name, .testimony-position {
        font-size: 0.7rem;
    }

    .testimony-pic {
        width: 15%;
        height: 15%;
    }

    .testimony-test {
        font-size: 1rem;
    }

    .early-access {
        padding: 3rem 3rem;
    }

    .early-access-title {
        font-size: 1.3rem;
    }

    .early-access-body {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .early-access-input {
        padding-left: 0rem;
        width: 100%;
    }

    .early-access-btn {
        width: 100%;
        font-size: 1rem;
    }

    .footer {
        width: 80%;
    }

    .footer-nav {
        margin-top: 3rem;
    }

    .footer-social {
        margin-top: 2rem;
    }

    .footer-nav ul {
        padding: 0;
    }
}